<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="jquery-3.6.0.min.js"></script>
  

  
  <title>DragonLifts</title>
</head>
<body>
  <h1> Workout Examples </h2>
  


    <!--Anaerobic Excercise table -->
  <table>
    
    <th> Excersise Name</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Current Set</th>
    <th>Rest Period</th>
    {% for exercise in anaero %}
    <tr>
      {% for attr in exercise %}<td>{{attr}} </td>
      {% endfor%}
    </tr>
    {% endfor %}
  </table>

  <table>
    <th>Excersise Name</th>
    <th>Duration</th>
    
    <!-- Aerobic Excercise table -->
    {% for exercise in aero %}
    <tr>
      {% for attr in exercise %}<td>{{attr}} </td>
      {% endfor%}
    </tr>
    {% endfor %}
  </table>
  </div>
</body>
<script> 
$document.ready(function(){
  const csrf = $("input[name='csrfmiddlewaretoken']").val();
  function postData(event){
    console.log("postData is running");
    $.ajax({
      url: '',
      type: 'POST',
      data:{
        new_data: 'AAAAAAAAAAAAAAAAA',
        csrfmiddlewaretoken: csrf
      }
    })
  }
})
</script>
{% load static %}
<link rel="stylesheet" href={% static "DragonLifts/style.css" %}>
</html>